#section1-hidden {
  display: none;
}

#section2-hidden {
  display: none;
}

#section2-showing {

}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.clickable2 {
  cursor: pointer;
  color: #0088cc;
}

.clickable2:hover {
  text-decoration: underline;
}

.fixed {
  position: static;
}

.highlight {
  background-color: yellow;
  border: 3px solid black;
}

p {
  padding: 4px;
}
